<!--
BAS Business Portfolio
app/view/home.html

Braedon Billingsley, Mehak Saini, Will Castillo, Noah Lanctot
This is the home page view.
-->
<!DOCTYPE html>
<html lang="en">
<!--Head-->
<include href="app/view/components/head.html"></include>
<body>
<!--Header-->
<include href="app/view/components/header.html"></include>
<!--Home Page-->
<div class="container">

    <!--Title and Description-->
    <div class="home-title-description text-center">
        <h1>Welcome to the BAS Business Portfolio</h1>
        <p>Please create a portfolio timeline and begin adding portfolio items!</p>
    </div>

    <!--Main Content-->
    <div class="row">
        <div class="text-center mt-2">
            <a href="timeline">
                <button class="push">
                    <span class="front">
                        Begin your portfolio timeline.
                    </span>
                </button>
            </a>
        </div>
    </div>

</div>
</body>
<!--Footer-->
<include href="app/view/components/footer.html"></include>
</html>