<!--
BAS Business Portfolio
app/view/home.html

Braedon Billingsley, Mehak Saini, Will Castillo, Noah Lanctot
This is the home page view.
-->

<!-- Head -->
<include href="app/view/components/head.html"></include>

<body class="bg-home">

<!-- Header -->

<header class="header">
    <!--Navbar-->
    <nav class="nav-bar">
        <!--Logo-->
        <div class="logo">
            <a class="navbar-brand" href="{{ @BASE }}">
                <strong>BAS In Business Portfolio</strong>
            </a>
        </div>
    </nav>
</header>
<!--Home Page-->
<div class="container">

    <!--Title and Description-->
    <div class="home-title-description">

        <h1 class="desc-color-home"><strong>Welcome to Your</strong></h1>
        <h1 class="desc-color-home"><strong>Professional Hub!</strong></h1>
        <p class="remove-text-space">Come on in, the career waters are</p>
        <p class="remove-text-space">warm!</p>
    </div>

    <!--Main Content-->
    <div class="row">
        <div class="home-btn">
            <a class="btn rounded-btn" href="timeline">START HERE</a>
        </div>
    </div>
</div>

</body>

<!--Footer-->
<include href="app/view/components/footer.html"></include>