<!-- app/view/item.html

BAS Business Portfolio
Braedon Billingsley, Mehak Saini, Will Castillo, Noah Lanctot
This is the create item view page.
-->

<!-- Head -->
<include href="app/view/components/head.html"></include>

<body class="bg">

<!-- Header -->
<include href="app/view/components/header.html"></include>

<!--Create item container-->
<div class="container">

    <!--Title and Description-->
    <div class="home-title-description text-center">
        <h1>Create a portfolio item below</h1>
        <p>Please complete the following, then submit to your item to timeline.</p>
    </div>

    <!--Create item form-->
    <form id="item-form" action="item" method="post">

        <!--Item name-->
        <div>
            <label for="title">Item Name:</label><br>
            <input type="text" id="title" name="title">
        </div>

        <!--Item description-->
        <div>
            <label for="itemDescription">Description:</label><br>
            <textarea id="itemDescription" name="itemDescription"></textarea>
        </div>

        <!--Item type dropdown selector-->
        <div>
            <label>Type:
                <select type="drop" id="itemType" name="itemType">
                    <option>Resume</option>
                    <option>Work Experience</option>
                    <option>Certification</option>
                </select>
            </label>
        </div>

        <!--Create item submit button-->
        <div class="mt-4">
            <button class="push" type="submit" id="submit-button">
                <span class="front">Create Item</span>
            </button>
        </div>
    </form>
</div>
</body>

<!--Footer-->
<include href="app/view/components/footer.html"></include>

