<!--
BAS Business Portfolio
app/view/portfolio/item.html

Braedon Billingsley, Mehak Saini, Jack Le
This is the portfolio/item.html view.
-->

<!-- Head -->
<include href="app/view/components/head.html"></include>

<body class="bg">

<!-- Header -->
<include href="app/view/components/header.html"></include>

<!--Item Page-->
<div class="container">

    <!--Title and Description-->
    <div class="home-title-description text-center">
        <h1>Create a portfolio item below</h1>
        <p>Please complete the following, then submit to your timeline.</p>
    </div>

    <!--Create portfolio item form-->
    <div>
        <form id="portfolioForm" action="#" method="post">
            <div>
                <label for="title">Item Name:</label><br>
                <input type="text" id="title" name="title">
            </div>

            <div>
                <label for="itemDescription">Description:</label><br>
                <textarea id="itemDescription" name="itemDescription"></textarea>
            </div>
            <div>
                <label><select type="drop" id="itemType"></select></label>
            </div>

            <div class="mt-4">
                <button class="push" type="button" id="submitButton">
                    <span class="front">Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    // JavaScript to handle form submission
    document.getElementById("submitButton").addEventListener("click", function() {
        document.getElementById("portfolioForm").submit();
    });
</script>

<!--Footer-->
<include href="app/view/components/footer.html"></include>