<!--
/app/view/components/request_access.html
BAS Business Portfolio

Braedon Billingsley, Mehak Saini, Will Castillo, Noah Lanctot
This is the request access view page
-->

<!-- Head -->
<include href="app/view/components/head.html"></include>

<body class="bg">

<!-- Header -->
<include href="app/view/components/header.html"></include>

<!--Request Access Page-->
<div class="container d-flex justify-content-center align-items-center">
    <!-- Request Access Card -->
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-request text-center mb-3">Request Access</h5>
            <form id="request-access-form" action="request-access" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="message" required></textarea>
                    <div id="messageHelp" class="form-text">Please enter a message.</div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-request">Request Access</button>
                </div>
                <div>
                    <a class="access-code" href="access-code">Use access code</a>
                </div>

                <!-- Error message -->
                <div id="error-message" class="alert alert-danger" style="display: none;"></div>

                <!-- Success message -->
                <div id="success-message" class="alert alert-success" style="display: none;"></div>
            </form>
        </div>
    </div>
</div>

<!-- Link to the external JavaScript file -->
<script src="public/js/request_access.js"></script>

<!--Footer-->
<include href="app/view/components/footer.html"></include>