<!--
BAS Business Portfolio
app/view/timeline.html

Braedon Billingsley, Mehak Saini, Jack Le
This is the timeline view.
-->
<!DOCTYPE html>
<html lang="en">
<!--Head-->
<include href="app/view/components/head.html"></include>
<body class="bg">
<!--Header-->
<include href="app/view/components/header.html"></include>
<!--Timeline Page-->
<div class="container">

    <!--Title and Description-->
    <div class="home-title-description text-center">
        <h1>Welcome "User" to your portfolio timeline!</h1>
        <p>Please add portfolio items to populate your timeline.</p>
    </div>

    <!--Main Content-->
    <div class="row">
        <div class="add-item text-center mt-2">
            <a href="item">
                <button class="push">
                    <span class="front">
                        Add a portfolio item.
                    </span>
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="view-task text-center">
            <a href="#">
                <button class="push">
                    <span class="front">
                        View tasks
                    </span>
                </button>
            </a>
        </div>
    </div>
</div>
</body>

<!--Footer-->
<include href="app/view/components/footer.html"></include>
</html>