<!--
BAS Business Portfolio
app/view/timeline.html

Braedon Billingsley, Mehak Saini, Jack Le
This is the timeline view.
-->

<!-- Head -->
<include href="app/view/components/head.html"></include>

<body class="bg">

<!-- Header -->
<include href="app/view/components/header.html"></include>

<!--Timeline Page-->
<div class="container my-5">
    <div class="row">
        <!--Title and Description-->
        <div class="col-12 text-center">
            <h1>Welcome "User" to your portfolio timeline!</h1>
            <p>Please add portfolio items to populate your timeline.</p>
        </div>
    </div>

    <!--Main Content-->
    <div class="row">
        <div class="col-12 text-center my-3">
            <a class="btn btn-warning" href="item">Add a portfolio item.</a>
            <a class="btn btn-success" href="task">View tasks</a>
        </div>
        <div class="col-12 text-center my-3" id="items">
            <!-- Items will be appended here -->
        </div>
    </div>
</div>

<!--Scripts -->
<script src="public/js/item.js"></script>

<!--Footer-->
<include href="app/view/components/footer.html"></include>
