<!--
BAS Business Portfolio
app/view/timeline.html

Braedon Billingsley, Mehak Saini, Jack Le
This is the timeline view.
-->
<!DOCTYPE html>
<html lang="en">
<!--Head-->
<include href="app/view/components/head.html"></include>
<body>
<!--Header-->
<include href="app/view/components/header.html"></include>
<!--Home Page-->
<div class="container">

    <!--Title and Description-->
    <div class="home-title-description text-center">
        <h1>Welcome "User" to your portfolio timeline!</h1>
        <p>Please add portfolio items to populate your timeline.</p>
    </div>

    <!--Main Content-->
    <div class="row">
        <div class="add-item text-center">
            <a class="btn btn-success" href="#">Add a portfolio item.</a>
        </div>
    </div>
    <div class="row">
        <div class="view-task text-center">
            <a class="btn btn-success" href="#">View tasks</a>
        </div>
    </div>
</div>
</body>

<!--Footer-->
<include href="app/view/components/footer.html"></include>
</html>