/*  public/css/styles.css
 *  This is the global stylesheet for the BAS Business Portfolio project
 *
 *  @authors Noah Lanctot, Mehak Saini, Braedon Billingsley, Will Castillo
**/

/* global styles */
html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    bottom: 100px;
    font-family: "Gopher",sans-serif;
}

body, html {

}
/* home.html */
.home-title-description {

}

.logo{
    margin:20px;
    font-size:20px;

}
/* login.html styles */

/* timeline.html styles */
.add-item {
    padding-bottom: 20px;
}

.view-item {}

/* item.html styles */
.item-submit {}



/*HOME PAGE styles*/
.logo{
    font-size: 25px;


}

/* arrange link-list  */
.link-list{
    position: absolute;
    top: 10px;
    right:10px;
    font-size:20px
}

.home-title-description{
    padding-top: 150px;
}
/*Home page background*/
.bg{
    background-image: url("../img/bg-home.png");
    background-size: 100% 100%; /*adjust width/height*/
    font-family: "Gopher", sans-serif;
}
/*description home-pg color*/
.desc-color-home{
    color: #94ABF9;
    font-size: 50px;

}
.remove-text-space{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.home-btn{
   display: flex;
    justify-content: center;
    padding-top: 30px;
    .rounded-btn{
        border-radius: 50px;
        background-color: #171d3a;
        color: white;
        padding: 30px 40px;
        font-size: 20px;
    }

.rounded-btn:hover{
background-color: #94ABF9}
    color: white;
}
.nav-anchor-item{
    .nav-link{
        color: #111111

    }
}