/*  public/css/styles.css
 *  This is the global stylesheet for the BAS Business Portfolio project
 *
 *  @authors Noah Lanctot, Mehak Saini, Braedon Billingsley, Will Castillo
**/

/* global styles */
html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    bottom: 100px;
}

body, html {

}

footer {
    background-color: #161ea1;
    color: white;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    padding: 15px;
    width: 100%;
}

header {
    background-color: #161ea1;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}

/* Push Button Styles */
.push {
    background-color: #b28800;
    border: none;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
}

.front {
    display: block;
    padding: 1em 2em;
    border-radius: 10px;
    background: #ffc107;
    transform: translateY(-6px);
}

.push:active .front {
    transform: translateY(-2px);
}

/* home.html */
.home-title-description {

}

/* login.html styles */

/* timeline.html styles */
.add-item {
    padding-bottom: 20px;
}

.view-item {}

/* item.html styles */
.item-submit {}