/*  public/css/styles.css
 *  This is the global stylesheet for the BAS Business Portfolio project
 *
 *  @authors Noah Lanctot, Mehak Saini, Braedon Billingsley, Will Castillo
**/

/* global styles */
html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    bottom: 100px;
    font-family: "Gopher",sans-serif;
}

body, html {

}

header {
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}

/* home.html */
.home-title-description {
    padding-top: 50px;
    text-align: center;
}

.logo{
    margin:20px;
    font-size:20px;
}

/* login.html styles */

/* timeline.html styles */
.add-item {
    padding-bottom: 20px;
}

.view-item {}

/* item.html styles */
.item-submit {}

/*HOME PAGE styles*/
.logo {
    font-size: 25px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will create maximum distance between items */
}

/* arrange link-list  */
.link-list {
    display: flex;
    justify-content: flex-end;
    top: 10px;
    right:10px;
    font-size:20px
}

/* Background Styles */
.bg, .bg-home {
    background-size: 100% 100%;
    font-family: "Gopher", sans-serif;
}

/* Default Background */
.bg {
    background-image: url("../img/bg-image.jpg");
}

/* Home Page Background */
.bg-home {
    background-image: url("../img/bg-home.png");
}

/* description home-pg color*/
.desc-color-home {
    color: #94ABF9;
    font-size: 50px;

}
.remove-text-space {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.home-btn{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    .rounded-btn{
        border-radius: 50px;
        background-color: #171d3a;
        color: white;
        padding: 30px 40px;
        font-size: 20px;
    }

    .rounded-btn:hover{
        background-color: #94ABF9}
    color: white;
}

.nav-link-anchor {
    color: #111111;
    text-decoration: none;
    padding: 15px;
}

/*student dashboard*/
.row2{
    padding-top: 50px;

}

.custom {
    border-radius: 20px;
    text-align: center;
    color: #94ABF9;
    padding-top: 210px;
    height: 30px;
    max-width:250px
}

.custom:hover {
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.custom-col {
    padding-top: 80px;
}

#img1 {
    background-image:url("../img/icon1.png");
    background-size: 100px 100px;
    background-repeat:no-repeat;
    background-position:center;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

#img2 {
    background-image:url("../img/icon2.png");
    background-size: 100px 100px;
    background-repeat:no-repeat;
    background-position:center;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}
#img3{
    background-image:url("../img/icon3.png");
    background-size: 70px 70px;
    background-repeat:no-repeat;
    background-position:center;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}
#img4{
    background-image:url("../img/icon4.png");
    background-size: 70px 70px;
    background-repeat:no-repeat;
    background-position:center;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}
#img5{
    background-image:url("../img/icon5.png");
    background-size: 100px 100px;
    background-repeat:no-repeat;
    background-position:center;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}
#img6{
    background-image:url("../img/icon6.png");
    background-size: 100px 100px;
    background-repeat:no-repeat;
    background-position:center;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}
#img7{
    background-image:url("../img/icon7.png");
    background-size: 100px 100px;
    background-repeat:no-repeat;
    background-position:center;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

#img{
    background-image:url("../img/icon0.png");
    background-size: 70px 70px;
    background-repeat:no-repeat;
    background-position:center;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

