
<!--
/app/view/components/header.html
BAS Business Portfolio

Braedon Billingsley, Mehak Saini, Will Castillo, Noah Lanctot
This is the <header> component for view pages
-->
<!--Header-->

<header class="header">
    <!--Navbar-->
    <nav class="nav-bar">
        <!--Logo-->
        <div class="logo">
            <a class="navbar-brand" href="{{ @BASE }}">
                <strong>BAS In Business Portfolio</strong>
            </a>
        </div>
        <!--Header Links-->

        <ul class="nav link-list">
            <li class="nav-anchor-item"><a class="nav-link" href="#">Course</a></li>
            <li class="nav-anchor-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-anchor-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
    </nav>

</header>
