<!--
/app/view/components/header.html
BAS Business Portfolio

Braedon Billingsley, Mehak Saini, Will Castillo, Noah Lanctot
This is the <header> component for view pages
-->
<!--Header-->
<header class="header">
    <!--Navbar-->
    <nav class="nav-bar">
        <!--Logo-->
        <div class="logo">
            <a class="navbar-brand" href="{{ @BASE }}">
                <img src="public/img/BBBLogo.jpg" width="100" class="logo-img" alt="BAS Business Portfolio logo">
            </a>
        </div>
        <!--Header Links-->
        <ul class="nav link-list">
            <li class="nav-anchor-item"><a class="nav-link" href="#">####</a></li>
            <li class="nav-anchor-item"><a class="nav-link" href="#">####</a></li>
            <li class="nav-anchor-item"><a class="nav-link" href="#">####</a></li>
            <li class="nav-anchor-item"><a class="nav-link" href="#">####</a></li>
            <li class="nav-anchor-item"><a class="nav-link" href="#">####</a></li>
            <li class="nav-anchor-item"><a class="nav-link" href="#">####</a></li>
            <li class="nav-anchor-item"><a class="nav-link" href="#">####</a></li>
        </ul>
    </nav>
</header>