<!--
/app/view/components/head.html
BAS Business Portfolio

Braedon Billingsley, Mehak Saini, Will Castillo, Noah Lanctot
This is the <head> component for view pages
-->

<!--Head-->
<head>
    <!--Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Styles-->
    <link rel="stylesheet" href="public/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="public/img/BBBLogo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="public/img/BBBLogo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="public/img/BBBLogo.jpg">
    <link rel="manifest" href="public/fav/site.webmanifest">
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Title-->
    <title>BAS Business | Portfolio</title>
</head>
